.castom-header{
    width: 100vw;
    overflow: hidden;
}
.castom-nav-item{
    transition: .54s;
}
.castom-nav-item:hover{
    background-color: rgba(128, 128, 128, 0.281);
}


.navIcon{
    display: none;
}
@media (max-width:800px) {
    .navIcon{
        display: block;
    }
}