.castom-header{
    width: 100vw;
    overflow: hidden;
}
.castom-nav-item{
    transition: .54s;
}
.castom-nav-item:hover{
    background-color: rgba(128, 128, 128, 0.281);
}
.castom-navlogo {
    transition: .77s;
}
.castom-navlogo:hover{
    transform: scale(1.2) rotate(-5deg);
    /* transform:  rotate(90deg) */
}

.navIcon{
    display: none;
}
@media (max-width:800px) {
    .navIcon{
        display: block;
    }
}