.box-image .castom-text{
 text-shadow:0 0 4px white;
    
}
@media (max-width:799px) {

    .box-image .castom-text{
        font-size:65px ;
        font-weight: 500;
        margin-top: 65px;
        
    }
    .image{
        padding: 0;
    } 
    .image img{
        width: 90vw;
    }
    .castom-221{
        width: 100vw;
        padding-top: 30px;
        border-top: 1px solid rgb(37, 37, 37);
        flex-direction: column;

    }
    .castom-22 h1{
        font-size:60px ;
        text-align: center;
        
    }
    .castom-22 img{
        margin: auto;
    }
}
