.box-image .castom-text{
 text-shadow:0 0 4px rgb(0, 0, 0);
    
}
@media (max-width:1000px) {
    .castom-display-text h1{
        font-size: 10vw;
    }
    .box-image{
        height: 100%;
        padding: 50px 0px;
    }
    .castom-display-text .castom-display-img-box{
        height: 100%;
    }
    .row-text{
        display: none;
    }
    
}
@media (max-width:799px) {

    .box-image .castom-text{
        font-size: 7vw;  
    }
    .castom-display-img-box .castom-display-img{

        margin-top: 100px;

    }
    .image{
        padding: 0;
    } 
    .image img{
        width: 90vw;
    }
    .castom-221{
        width: 100vw;
        padding-top: 30px;
        /* border-top: 1px solid rgb(37, 37, 37); */
        flex-direction: column;

    }
    .castom-22 h1{
        font-size:60px ;
        text-align: center;
        
    }
    .castom-22 img{
        margin: auto;
    }
}
@media (max-width:599px) {
    .box-image{
        padding-top: 100px;
    }
    .box-image .castom-text{
        font-size: 16vw;
        margin-top: 50px;  
    }
    .castom-display-img-box .castom-display-img{
        height: 100%;
        margin-top: 100px;
        width: 100%;
    }
}