.skill-img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-dodge;
    filter: grayscale(200%); 
    /* border-radius: 10%; */
}
.castom-skill-item{
    transition: .44s;
    cursor: pointer;
}
.castom-skill-item:hover{
    padding: 50px;
}