.skill-img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-dodge;
    filter: grayscale(200%); 
}
.castom-skill-item{
    transition: .44s;
    cursor: pointer;
}
.castom-skill-item:hover{
    transform: scale(1.1) rotate(-5deg);
}
@media (max-width:1000px) {
    .castom-skill-div{
        /* margin-top:-200px ; */
        padding: 0;
        flex-direction: column ;
        justify-content: center;
        /* background: #917474; */
        padding-top: 80px;
    }
    .castom-skill-div h1{
        font-size: 105px;
    }
    .castom-skill-div .castom-skill-titel{
        width: 100%;
        padding: 15px 0 ;
        text-align: center;
    }
    .castom-skill-carts-div{
        width: 100%;
        justify-content: space-evenly;
        padding: 0 40px;
    }
}