@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Modern+Antiqua&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: f1;
  src: url(./fonts/60e4249bd8f95b37bea9f160_RoslindaleDisplayCondensed-Regular.woff2);
}
@font-face {
  font-family: f2;
  src: url(./fonts/61eaf216c5a1013af31b58ec_Mint\ Grotesk\ -\ Bold.woff2);
}
@font-face {
  font-family: f3;
  src: url(./fonts/61eaf39e1d62ff0d83071705_Mint\ Grotesk\ -\ Medium.woff2);
}
.f1{
  font-family: f1;
}
.f2{
  font-family: f2;
}
.f4{
  font-family: f3;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #111;
    /* font-family: "Nunito", sans-serif; */
    font-optical-sizing: auto;
    overflow-x: hidden;
}
.castom-font{
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
}
.castom-font-01{
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}











/* Total width of the scrollbar */
::-webkit-scrollbar {
    width: 9px; /* For vertical scrollbars */
    height: 12px; /* For horizontal scrollbars */
  }
  
  /* Background of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
  }
  
  /* Color and style of the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Hover effect for the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* For Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  